/**
 * Panel
 */
#cssedit-panel {
  position: fixed;
  z-index: 50;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 19px;
  font-family: "Calibri";
  background: #f2f2f2 url(images/h1.png) 0 0 repeat-x;
  -moz-user-select: none;
}
#cssedit-panel a {
  display: block;
  float: left;
  margin: 0 1px;
  padding: 0 10px;
  height: 19px;
  line-height: 19px;
  font-size: 11px;
  outline: none;
  color: #9d9e9f;
}
#cssedit-panel a:hover {
	text-decoration: none;
	background: url(images/h2.png) 0 0 repeat-x;
}
#cssedit-panel a:active
#cssedit-panel a.active, {
  background: url(images/h4.png) 0 0 repeat-x;
}

/**
 * Switcher
 */
#cssedit-switcher {
  display: block;
  float: left;
  margin: 0 5px 0 0;
  padding: 0 10px 0 0;
  width: 90px;
  height: 19px;
  font-size: 9px;
  text-align: right; 
  line-height: 19px;
  background: url(images/sprites.png) 0 0 no-repeat;
  cursor: pointer;
  color: #fff;
}
#cssedit-switcher:hover {
  background-position: 0 -38px;
}
#cssedit-switcher:active {
  line-height: 20px;
  background-position: 0 -19px;
  color: #eee;  
}

/**
 * Outline
 */
#cssedit-outline {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	border-top: 1px dotted #000;
}

/**
 * Window
 */
.cssedit-window {
  position: fixed;
  z-index: 10;
  left: 0;
  bottom: 19px;
  width: 100%;
  height: 0;
  background: #fff url(images/h5.png) 0 0 repeat-x;
}   
.cssedit-window .right {
  position: absolute;
  top: 45px;
  right: 20px; 
  width: 20%;
  height: 374px;
}

/**
 * Title bar
 */
.cssedit-titlebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 11px;
  cursor: move;     
  text-align: center; 
  font-size: 12px;
  background: url(images/h6.png) 0 0 repeat-x;
  color: #fff;
}
.cssedit-titlebar .title {
	position: absolute;
	top: 0;
	left: 43%;
  width: 250px;
  text-indent: -99999px;
  background: url(images/h62.png) 0 0 no-repeat;
}   

/**
 * Textarea
 */
.cssedit-window .css {
  margin: 45px 20px 0 20px;
  padding: 10px;
  width: 75%;  
  height: 355px;  
  font-family: "Monaco", "Courier New";
  background: transparent;
  border: none;
  color: #222;
}

/**
 * Explorer
 */ 
 .cssedit-explorer {
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto; 
} 
.cssedit-explorer .title {
  display: block;
  width: 100%;
  height: 25px;
  line-height: 25px; 
  text-indent: 10px;
  font-size: 11px;
  color: #888;
  -moz-user-select: none;
}
.cssedit-explorer .cssedit-navitem {
  display: block;
  width: 100%;
  padding: 2px 0 2px 8px;
  font-size: 10px;
  font-family: "Tahoma";
  outline: none;
  color: #8c8e90;
  -moz-user-select: none;
}
.cssedit-explorer .cssedit-navitem + .cssedit-navitem {
  border-top: 1px solid #eee;
}
.cssedit-explorer .cssedit-navitem.secondary {
  color: #535556;
} 
.cssedit-explorer .cssedit-navitem:hover {
  text-decoration: none;
  color: #444;
}

/**
 * Form elements
 */ 
.cssedit-window  input[type=button] {
  margin: 10px 0;
  width: 88px;
  height: 21px;
  border: none;
  font-size: 10px;
  font-family: "Tahoma", "Calibri";
  background: url(images/sprites.button.png) 0 0 no-repeat;
  outline: none;
  cursor: pointer;
  color: #fff;
}
.cssedit-window  input[type=button]:hover {
  background-position: 0 -21px;
}
.cssedit-window  input[type=button]:active {
  background-position: 0 -42px;
}
.cssedit-window input.cssedit-save {
  float: right;
}